<div class="container-fluid team managing text-center">
  <div class="row">
    <div class="col-10 offset-1 card">
      <h1>Teams</h1><br>

      <div class="row">
        <% @teams.each do |team| %>
          <div class="col-12 col-sm-6">
            <%= link_to team, :action => 'go'  do %>
              <div class="team-card">
                <% unless team.image_url_url.to_s.empty? %>
                  <%= image_tag team.image_url_url.to_s, class:"img-responsive w-100", alt: team.first_name + team.last_name %><br>
                <% else %>
                  <% if team.gender == "male" %>
                    <%= image_tag "male_user.png", class:"img-responsive w-100", alt: "male-user" %><br>
                  <% else %>
                    <%= image_tag "female_user.png", class:"img-responsive w-100", alt: "female-user" %><br>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <br>
      <%= link_to 'Create New Team Member', new_team_path, class: "button" %>
    </div>
  </div>
</div>
