<div class="container-fluid team-presentation" id="invoke-engineers">
  <h2 class="text-center">Meet The Invoke Engineers</h2>
  <% @team_members.each_with_index do |team_member, index| %>
    <div class="row">
      <% if index.even? %>
        <div class="col-12 col-md-6 col-xl-4 offset-xl-2 team-member-photo">
      <% else %>
        <div class="col-12 col-md-6 col-xl-4 team-member-photo">
      <% end %>
        <% unless team_member.image_url_url.to_s.empty? %>
          <%= image_tag team_member.image_url_url.to_s, class:"img-responsive", alt: team_member.first_name + team_member.last_name %><br>
        <% else %>
          <% if team_member.gender == "male" %>
            <%= image_tag "male_user.png", class:"img-responsive avatar", alt: "male-user" %><br>
          <% else %>
            <%= image_tag "female_user.png", class:"img-responsive avatar", alt: "female-user" %><br>
          <% end %>
        <% end %>
        <%#= image_tag team_member.image_url_url.to_s, class: "img-responsive", alt: team_member.first_name %>
        <p class="name d-block d-md-none"><%= team_member.first_name + " " + team_member.last_name  %></p>
      </div>
      <% if index.even? %>
        <!-- <div class="col-12 col-sm-6 team-member-info align-self-center"> -->
        <div class="col-12 col-md-6 col-xl-4 team-member-info">
      <% else %>
        <!-- <div class="col-12 col-sm-6 order-sm-first team-member-info align-self-center"> -->
        <div class="col-12 col-md-6 order-md-first col-xl-4 offset-xl-2 team-member-info">
      <% end %>
        <p class="name d-none d-md-block"><%= team_member.first_name + " " + team_member.last_name  %></p>
        <p class="proffession"><%= team_member.proffession%></p>
        <p class="description"><%= simple_format(team_member.description)%></p>
      </div>
    </div>
  <% end %>
</div>
