<% content_for :title,  "Resend Confirmation Instructions - Invoke Engineers" %>
<%= content_for :facebook_meta_tags do %>
  <meta property="og:title" content="Resend confirmation instructions - Invoke Engineers" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="https://invokeengineers.com/meta-image-logo.png">
  <meta property="og:image:alt" content="Invoke Engineers" />
  <meta property="og:description" content="Invoke Engineers is a design, construction and renovation firm based on Kalamata that offers exclusive, functional and sustainable residences and workspaces." />
  <meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="Invoke Engineers">
<% end %>
<%= content_for :twitter_meta_tags do %>
<meta name="twitter:title" content="Resend Confirmation Instructions - Invoke Engineers">
<meta name="twitter:description" content="Invoke Engineers is a design, construction and renovation firm based on Kalamata that offers exclusive, functional and sustainable residences and workspaces.">
<meta name="twitter:image" content="https://invokeengineers.com/meta-image-logo.png">
<% end %>

<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
