<% content_for :title,  "Editing User - Invoke Engineers" %>
<%= content_for :facebook_meta_tags do %>
  <meta property="og:title" content="Editing User - Invoke Engineers" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="https://invokeengineers.com/meta-image-logo.png">
  <meta property="og:image:alt" content="Invoke Engineers" />
  <meta property="og:description" content="Invoke Engineers is a design, construction and renovation firm based on Kalamata that offers exclusive, functional and sustainable residences and workspaces." />
  <meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="Invoke Engineers">
<% end %>
<%= content_for :twitter_meta_tags do %>
<meta name="twitter:title" content="Editing User - Invoke Engineers">
<meta name="twitter:description" content="Invoke Engineers is a design, construction and renovation firm based on Kalamata that offers exclusive, functional and sustainable residences and workspaces.">
<meta name="twitter:image" content="https://invokeengineers.com/meta-image-logo.png">
<% end %>

<div class="container-fluid user managing text-center">
  <div class="row">
    <div class="col-10 offset-1 card">
      <h1>Editing User</h1><br>

      <%= render 'form', user: @user %>

      <%= link_to 'Go Back to my Account', @user, class: "button" %>
    </div>
  </div>
</div>
