<%= form_with(model: project, local: true) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name*" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Short Description about project*" %>
    <%= f.text_area :short_description %>
  </div>

  <div class="field">
    <%= f.label "Description about project*" %>
    <%= f.text_area :description, size: "5x10" %>
  </div>

  <div class="field">
    <%= f.label "Location*" %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label "Year" %>
    <%= f.text_field :year_string %>
  </div>

  <div class="field">
    <%= f.label :photographer %>
    <%= f.text_field :photographer %>
  </div>

  <div class="field">
    <%= f.label :photographer_website %>
    <%= f.text_field :photographer_website %>
  </div><br>

  <div class="field">
    <%= f.label "Cover Image*" %><br>
    <div class="row w-100 m-0">
      <div class="col-6 text-left p-0">
        <%= f.file_field :cover_image_url %>
      </div>
      <% if project.persisted? %>
        <div class="col-6 text-left">
          <%= image_tag project.cover_image_url_url.to_s, class: "img-responsive", alt: project.cover_image_url_url.to_s %>
        </div>
      <% end %>
    </div>
  </div><br>

  <div id="project_images">
    <p class="text-left">Project Images</p>
    <%= f.fields_for :project_images do |project_image| %>
      <%= render 'project_image_fields', f: project_image %>
    <% end %>
    <div class="association-link">
      <%= link_to_add_association 'Add Project Image', f, :project_images, class: "button w-80" %>
    </div>
  </div><br><br>

  <div class="actions">
    <% if project.persisted? %>
      <%= f.submit "Update Portfolio Project", class: "button submit w-100" %>
    <% else %>
      <%= f.submit "Create Portfolio Project", class: "button submit w-100" %>
    <% end %>
  </div><br>
<% end %>
