<!DOCTYPE html>
<html lang="en">
  <head>
    <% if content_for?(:title) %>
      <title><%= yield(:title) %></title>
    <% else %>
      <title>Invoke Engineers | Design | Construction | Renovation</title>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <% if content_for?(:html_meta_tags) %>
      <%= yield(:html_meta_tags) %>
    <% else %>
      <meta name="description" content="Invoke Engineers is a design, construction and renovation firm based on Kalamata that offers exclusive, functional and sustainable residences and workspaces.">
      <meta name="keywords" content="invoke egineers, invoke engineering group, kalamata, construction office, design, renovation, greece">
      <meta name="image" content='<%= image_tag( "https://invokeengineers.com/meta-image-logo.png" , alt: "Invoke Engineers") %>'>
    <% end %>

    <!-- Favicon Tag -->
    <%= favicon_link_tag asset_path('favicon.png') %>

    <!-- Canonical Tag -->
    <link rel="canonical" href="<%=request.original_url%>"/>

    <!-- Facebook meta tags -->
    <% if content_for?(:facebook_meta_tags) %>
      <%= yield(:facebook_meta_tags) %>
    <% else %>
      <meta property="og:title" content="Invoke Engineers" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://invokeengineers.com/" />
      <meta property="og:image" content="https://invokeengineers.com/meta-image-logo.png">
      <meta property="og:image:alt" content="Invoke Engineers" />
      <meta property="og:description" content="Invoke Engineers is a design, construction and renovation firm based on Kalamata that offers exclusive, functional and sustainable residences and workspaces." />
      <meta property="og:locale" content="en_US">
      <meta property="og:site_name" content="Invoke Engineers">
    <% end %>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- <meta name="twitter:site" content="@bakeisyum" /> -->
    <!-- <meta name="twitter:creator" content="@elinacharalampous" /> -->
    <% if content_for?(:twitter_meta_tags) %>
      <%= yield(:twitter_meta_tags) %>
    <% else %>
      <meta name="twitter:title" content="Invoke Engineers">
      <meta name="twitter:description" content="Invoke Engineers is a design, construction and renovation firm based on Kalamata that offers exclusive, functional and sustainable residences and workspaces.">
      <meta name="twitter:image" content="https://invokeengineers.com/meta-image-logo.png">
    <% end %>

    <!-- Pinterest meta tag -->
    <!-- <meta name="p:domain_verify" content="56687de4c1dd5d5006afdfe6be3abbf7"/> -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Montserrat:wght@200;300;400;500;600&family=Noto+Sans+JP:wght@100;300;400;500;700&family=Noto+Sans+JP:wght@100;300;400;500;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Oxygen:wght@300;400;700&family=Roboto&family=Noto+Sans:wght@400;700&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet"> -->

    <!-- Font Awesome 5 -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Flickity -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <!-- CSS and JS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Structed Data -->
  <% if content_for?(:structured_data) %>
    <%= yield(:structured_data) %>
  <% else %>
    <script type='application/ld+json'>
    {
      "@context":"https://schema.org",
      "@graph":[{
        "@type":"Organization",
        "@id":"https://invokeengineers.com/#organization",
        "name":"Invoke Engineers",
        "url":"https://invokeengineers.com/",
        "sameAs":[
          "https://www.instagram.com/invokeengineers/"],
        "logo":{
          "@type":"ImageObject",
          "@id":"https://invokeengineers.com/#logo",
          "inLanguage":"en-US",
          "url":"https://invokeengineers.com/logo.png",
          "width":300,
          "height":95,
          "caption":"Invoke Engineers"},
        "image":{
          "@id":"https://invokeengineers.com/#logo"},
          "address": {
            "@type": "PostalAddress",
            "postalCode": "24100",
            "addressCountry": "Greece",
            "addressLocality": "Kalamata",
            "streetAddress": "2 Pantazopoulou Street"},
          "email": "info@invokeengineers.com",
          "telephone": "(0030) 2721025733"
        },{
        "@type":"WebSite",
        "@id":"https://invokeengineers.com/#website",
        "url":"https://invokeengineers.com/",
        "name":"Invoke Engineers",
        "description":"Invoke Engineers is a design, construction and renovation firm based on Kalamata that offers exclusive, functional and sustainable residences and workspaces.",
        "publisher":{
          "@id":"https://invokeengineers.com/#organization"},
        "inLanguage":"en-US"
        },{
        "@type":"CollectionPage",
        "@id":"https://invokeengineers.com/#webpage",
        "url":"https://invokeengineers.com/",
        "name":"Invoke Engineers: Recent Projects",
        "isPartOf":{
          "@id":"https://invokeengineers.com/#website"},
        "about":{
          "@id":"https://invokeengineers.com/#organization"},
        "description":"Take a loot at the most recent procents of the Invoke Engineers.",
        "inLanguage":"en-US",
        "potentialAction":[{
          "@type":"ReadAction",
          "target":["https://invokeengineers.com/"]}]
        }
      ]
    }
    </script>
  <% end %>
  </head>

  <body>
    <% unless action_name == "under_construction" %>
      <nav class="navbar fixed-top navbar-expand-md navbar-light">
        <%= link_to index_path do %>
        <%#= link_to root_path do %>
          <div class="logo navbar-brand smooth">
            <div class="text text-right">
              <span class="invoke">Invoke</span><br>
              <span class="engineers">engineers</span>
            </div>
            <%= image_tag "logo_circle_black.png", class: "img-responsive", id: "#"%>
          </div>

        <% end %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class='fas fa-stream'></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Αbout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link smooth" href="/index#contact">Contact</a>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if current_user.admin? %>
                    Admin
                  <% elsif current_user.editor? %>
                    Editor
                  <% else %>
                    User
                  <% end %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "Manage Infos", infos_path, class: "dropdown-item"%>
                  <%= link_to "Manage Projects", projects_path, class: "dropdown-item"%>
                  <%= link_to "Manage Team", teams_path, class: "dropdown-item"%>
                  <div class="dropdown-divider"></div>
                  <%= link_to "My Account", user_path(current_user), class: "dropdown-item"%>
                  <% if current_user.admin? %>
                    <%= link_to "Manage All Users", users_path, class: "dropdown-item"%>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item"%>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <!-- End Nav -->

      <!-- Start Main Body -->
      <div class="anchor">
        <!-- flash messages -->
        <div class="container">
          <% if notice %>
            <p id="notice" class="alert alert-info text-center", role="alert"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p id="alert" class="alert alert-danger text-center", role="alert"><%= alert %></p>
          <% end %>
        </div>

        <div class="main-body">
          <%= yield %>
        </div>
      </div>
      <!-- End Main Body -->

      <!-- Start Footer -->
      <footer>
        <div class="container-fluid text-center">
          <div class="social-media">
            <% if (@infos.facebook_url.nil? || @infos.facebook_url.empty?) && (@infos.twitter_url.nil? || @infos.twitter_url.empty?) && (!@infos.instagram_url.nil? || !@infos.instagram_url.empty?) %>
              <div class="instagram social-link only-instagram text-center">
                <p>Follow us on</p>
                <%= link_to "<i class='fab fa-instagram'></i>".html_safe, @infos.instagram_url, target: "blank", class: "yellow-hover" %>
              </div>
            <% else %>
              <% unless @infos.facebook_url.nil? || @infos.facebook_url.empty?  %>
                <div class="facebook social-link">
                  <%= link_to "<i class='fab fa-facebook-f'></i>".html_safe, @infos.facebook_url, target: "blank", class: "yellow-hover" %>
                </div>
              <% end %>
              <% unless @infos.twitter_url.nil? || @infos.twitter_url.empty?  %>
                <div class="twitter social-link">
                  <%= link_to "<i class='fab fa-twitter'></i>".html_safe, @infos.facebook_url, target: "blank", class: "yellow-hover" %>
                </div>
              <% end %>
              <% unless @infos.instagram_url.nil? || @infos.instagram_url.empty?  %>
                <div class="instagram social-link">
                  <%= link_to "<i class='fab fa-instagram'></i>".html_safe, @infos.instagram_url, target: "blank", class: "yellow-hover" %>
                </div>
              <% end %>
            <% end %>
          </div>
          <% if Date.today.year > 2020 %>
            <p class="copyright">&copy; 2020 - <%= Date.today.year%> invoke engineering group</p>
          <% else %>
            <p class="copyright">&copy; 2020 invoke engineering group</p>
          <% end %>
          <p class="created-by">Developed and Designed by <%= link_to 'Elina Charalampous', 'https://elinacharalampous.gr', target: :_blank, class: "link yellow-hover" %></p>
        </div> <!-- end container-fluid -->
      </footer>
      <!-- End Footer -->
    <% else %>
      <%= yield %>
    <% end %>

    <!-- Google Maps API key -->
    <!-- <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlCx7ggz1e6dWPELSn65yERXxnC9p98Rk&callback=initMap">
      </script> -->
  </body>
</html>
